<p>categories works!</p>

<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>Category Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of products$| async; let index=index">
                    <th>{{index+1}}</th>
                    <td>{{item.categoryName}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>